@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-item {
    padding: 0.5rem 1rem;
}

.sidebar-link {
    display: flex;
    align-items: center;
}

.sidebar-item:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.cell:hover {
    border: 5px solid red;
}